// Colors
$purple: #7a325d;
$primary: $purple;
$black: #202020;

.navbar-bg {
    background-color: $black;
    .nav {
        background-color: $black;
    }
    .title{
        color: #686868;
        font-weight: 600;
    }
}

.twitter {
    color: #55acee ;
    border-color: #55acee;
}

.github {
    color: $black;
    border-color: $black;
}
